body {
  background: #f8f8f8;
}

  #wrapper {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0 5%;
    background: #fff;
    clear: both;
  }

/**********************************
  HEADING
 ***********************************/

.name {
  display: inline-block; 
  font-size: xx-large;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  background: #f8f8f8;
}

#about {
  width: auto;
  text-align: center;
  font-size: 1.20em;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  margin-top: 40px;
  margin-bottom: 60px;
}

#main-heading {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: bolder;

}

#gallery-heading {
  display: block;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

#profile-image {
  width: auto;
  margin-bottom: 30px;
}

/**********************************
  NAVIGATION
 ***********************************/

a {
  text-decoration: none;
  padding-bottom: 0px;
  color: #000;
}

nav {
  width: auto;
}

.navigation {
  display: inline-block;
  width: 85%;
  height: 40px;
  text-decoration: none;
  margin: 5px 5px;
  padding-top: 20px;
  background: #fff;
}

.footer-links {
  display: inline-block;
  visibility: hidden;
  color: #545454;  
}

#back-top {
  display: inline;
  width: auto;
  height: auto;
  float: right;
  text-decoration: none;
  font-size: medium;
  font-weight: bolder;
  padding: 20px 0 0 0;
  color: #525252;
  background: #f8f8f8;
}


/**********************************
  GALLERY
 ***********************************/

img {
  width: 75%;
  max-width: 100%;
}

h2 {
  text-align: center;
  font-size: medium;
}

p {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  text-align: center;
  font-size: .85em;
  font-style: italic;
  font-weight: bold;
  margin: 60px 0 40px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: center;
  background: #fff;
  background: linear-gradient(#ddd, #fff);
}

.titles {
  margin-bottom: 20px;
}






/**********************************
  SKILLS
 ***********************************/

#skills-hobbies {
  width: auto;
  height: auto;
}

#skills-header {
  text-align: center;
  font-weight: bolder;
  width: 100%;
}

#skills-body {
  width: auto;
  font-size: 1.20em;
  font-family: 'Indie Flower', cursive;
  padding: 0 20px;
  margin-top: 30px;
}

#skills-image {
  display: block;
  width: 80%;
  padding: 60px 0 30px 0;
  margin: 0 auto;
}
/**********************************
  FOOTER
 ***********************************/

footer {
  text-align: center;
}

h1 {
  font-size: large;
}

 b {
    padding-left: 15px;
    color: #545454;
 }

#footer-name {
  display: inline; 
  width: auto;
  height: auto;
  float: left;
  font: normal;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
  padding-top: 20px;
  color: #545454;
  background: #f8f8f8
}

#footer-title {
  margin-top: 70px;
}

.footer-contact {
  margin: 20px 0;
  color: #9f9f9f;
  background: #f8f8f8;
}

#footer-section {
 display: block;
 width: auto;
 height: 30px;
 font-size: large;
 font-weight: bolder; 
 border-top-width: 2px;
 border-top-style: solid;
 border-top-color: #dedede;
 margin: 0;
 padding: 0 10px;
}

#footer-note {
  width: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: .95em;
  margin-bottom: 25px;
  padding: 0 10px;
  color: #9f9f9f;
}

#footer-nav {
  height: 40px;
  }

